.booking {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 160px;

  &-info-section,
  &-form-section {
    @include size(500px, 445px);
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &-form-section {
    color: white;
    padding: 50px 70px;
    background-color: $primaryColor;
  }

  &-heading {
    &__secondary {
      margin-bottom: 20px;
    }

    &__primary {
      margin-bottom: 45px;
    }
  }

  &-text {
    margin-bottom: 50px;
  }

  &-type {
    margin-bottom: 43px;

    &__heading {
      @include font(demi);
      font-size: rem(14px);
      margin-bottom: 15px;
      color: $secondaryColor;
    }

    .btn1 {
      margin-right: 25px;
    }
  }

  &-options {
    display: flex;
  }

  &-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;

    &__heading {
      @include font(demi);
      color: $secondaryColor;
      margin-bottom: 12px;
    }

    &__switches {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 130px;
    }

    &__button {
      @include size(35px);
      background-color: transparent;
      border: 1px solid $secondaryFontColor;
      border-radius: 50%;
      opacity: 0.3;
      transition: all 0.2s linear;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }

      &:active {
        opacity: 0.8;
        transform: scale(0.9);
      }

      svg {
        @include size(18px);
        fill: $secondaryFontColor;
      }
    }

    &__value {
      @include font(demi);
      font-size: rem(14px);
    }
  }

  &-subtotal {
    margin-bottom: 35px;

    h2 {
      margin-bottom: 15px;
    }

    &__price {
      margin-left: 25px;
    }

    &__hours {
      @include font(demi);
      color: $secondaryColor;
    }
  }

  &-form {
    &__fullname {
      text-transform: uppercase;
      font-size: rem(10px);
      margin-bottom: 5px;
      color: $secondaryColor;
    }

    &__inputs {
      padding: 5px;
    }

    input {
      font-size: rem(14px);
      width: 100%;
      color: white;
      margin-bottom: 10px;
      padding: 10px 0;
      background-color: $primaryColor;
      border-bottom: 1px solid white;

      &::placeholder {
        color: white;
        opacity: 0.5;
      }
    }

    button {
      @include font(demi);
      margin-top: 10px;
      color: $secondaryColor;
      background-color: transparent;
      cursor: pointer;

      svg {
        @include size(15px);
        margin-left: 30px;
        fill: $secondaryColor;
        transform: rotate(270deg);
        transition: margin-left 0.2s;
      }

      &:hover {
        opacity: 0.7;

        svg {
          margin-left: 35px;
        }
      }
    }
  }
}

@media screen and (max-width: 1056px) {
  .booking-info-section {
    height: auto;
    padding: 25px 55px;
  }
}

@media screen and (max-width: $maxPhoneWidth) {
  .booking {
    padding-top: 80px;
    padding-bottom: 20px;

    &-info-section,
    &-form-section {
      width: 100%;
    }

    &-info-section {
      padding: 0;
    }

    &-form-section {
      height: auto;
      padding: 30px 20px;
    }

    &-heading {
      &__secondary {
        margin-bottom: 10px;
      }

      &__primary {
        margin-bottom: 15px;
      }
    }

    &-text {
      max-width: 450px;
      margin-bottom: 30px;
      padding-right: 15px;

      br {
        display: none;
      }
    }

    &-type {
      margin-bottom: 30px;

      &__heading {
        margin-bottom: 15px;
      }
    }

    &-option {
      margin-right: 0;

      &:first-child {
        margin-right: 25px;
      }
    }
  }
}
