.careers {
  background: url(../images/hand.png) no-repeat;
  background-position: top 105px right 0;
  background-size: 45% auto;
  background-color: $sectionBackground;
  min-height: 100vh;

  &-content {
    max-width: 470px;
  }

  &-images {
    position: relative;
  }

  &-image {
    @include size(435px, auto);
    transform: translateY(-90px);

    &__dots {
      position: absolute;
      top: 200px;
      left: 315px;
      @include size(232px, auto);
    }
  }

  &-heading {
    &__secondary {
      @include font(regular);
      margin-bottom: 10px;
    }

    &__primary {
      margin-bottom: 30px;
    }
  }

  &-text {
    max-width: 435px;
    margin-bottom: 35px;

    span {
      @include font(demi);
    }
  }

  &-guaranties {
    &__text {
      position: relative;
      @include font(bold);
      font-size: rem(16px);
      margin-bottom: 10px;
      padding-left: 48px;

      &::before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        @include size(15px, 7px);
        border-bottom: 3px solid;
        border-left: 3px solid;
        border-color: $secondaryColor;
        transform: rotate(-45deg);
      }
    }
  }
}

@media screen and (max-width: 1060px) {
  .careers {
    background-size: 40% auto;
  }
}

@media screen and (max-width: 960px) {
  .careers {
    background-image: none;

    &-content {
      margin: 0 auto;
    }
  }
  .careers-image {
    width: 100%;
    margin-bottom: 25px;
    transform: translateY(0);

    &__dots {
      display: none;
    }
  }
}

@media screen and (max-width: $maxPhoneWidth) {
  .careers {
    margin: 0 auto;
    padding-top: 65px;
    background-image: none;

    &-heading {
      &__primary {
        margin-bottom: 15px;

        br {
          display: none;
        }
      }
    }

    &-text {
      margin-bottom: 15px;
    }

    &-guaranties {
      &__text {
        margin-bottom: 5px;
      }
    }
  }
}
