.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 530px;
  padding-top: 150px;

  br {
    display: none;
  }

  &-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  &-heading {
    &__primary,
    &__secondary {
      display: flex;
      align-items: center;
      height: 35px;
      margin-bottom: 15px;
      @include font(demi);
    }

    &__primary {
      font-size: rem(30px);
    }

    &__secondary {
      font-size: rem(22px);
    }
  }

  &-social {
    display: flex;
    margin-top: 20px;

    &__icon {
      margin-right: 24px;

      svg {
        @include size(30px);
      }
    }
  }

  &-text {
    @include font(demi);
    font-size: rem(14px);
    opacity: 0.7;
    margin-bottom: 5px;
  }

  &-mail {
    text-decoration: underline;
    color: $secondaryColor;
  }

  &-copyright {
    display: flex;
    align-items: center;
    height: 78px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: $maxPhoneWidth) {
  .footer {
    min-height: 500px;
    padding-top: 55px;

    &-section {
      width: 50%;
      height: 180px;
      margin: 0 auto;
      margin-bottom: 15px;

      &:nth-child(even) {
        padding-left: 15px;
      }
    }
  }

  &-text {
    font-size: rem(14px);
    margin-bottom: 5px;
  }
}
