header {
  .btn1 {
    border-color: transparent;
  }

  .btn2 {
    border-color: white;

    svg {
      @include size(16px);
      fill: white;
      margin-right: 3px;
      transform: translateY(-2px);
    }

    a {
      color: white;
    }
  }
}

.arrow {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include size(52px, 40px);
  opacity: 0.7;
  transition: opacity 0.3s linear;

  svg {
    @include size(50px);
    fill: white;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.hero {
  max-width: 700px;
  padding-top: 220px;
  margin-left: 7%;

  &-heading {
    @include font(bold);
    font-size: rem(65px);
    line-height: 1;
  }

  &-text {
    @include font(regular);
    font-size: rem(15px);
    max-width: 425px;
    margin-top: 30px;
  }

  &-buttons {
    margin-top: 50px;

    .btn1 {
      margin-right: 25px;
    }
  }
}

@media screen and (max-width: $maxPhoneWidth) {
  .hero {
    padding-top: calc(100vh / 4);
    margin-left: 0;

    &-heading {
      font-size: rem(52px);
    }

    &-text {
      font-size: rem(13px);
    }
  }

  .arrow svg {
    transform: scale(0.75);
  }
}

@media screen and (max-width: $maxPhoneWidth) and (orientation: landscape) {
  .hero {
    padding-top: 70px;
  }

  .arrow svg {
    display: none;
  }
}
