.hire-us {
  &__heading {
    padding-top: 150px;
    padding-bottom: 57px;
  }

  &__text-blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 165px;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    max-width: 450px;
  }

  &__text {
    color: $secondaryFontColor;
    margin-bottom: 35px;

    span {
      @include font(demi);
    }

    &:first-child span {
      text-decoration: underline;
    }
  }
}
