.hireUs {
  padding-top: 150px;

  &-heading {
    margin-bottom: 57px;
  }

  &-text-blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-text-block {
    display: flex;
    flex-direction: column;
    max-width: 450px;
  }

  &-text {
    color: $secondaryFontColor;
    margin-bottom: 35px;

    span {
      @include font(demi);
    }

    &:first-child span {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 960px) {
  .hireUs {
    &-heading {
      text-align: center;
    }

    &-text-block {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: $maxPhoneWidth) {
  .hireUs {
    padding-top: 80px;

    &-heading {
      margin-bottom: 40px;
    }

    &-text {
      margin-bottom: 25px;
      padding-right: 12px;
    }
  }
}
