.testimonials {
  min-height: 1075px;
  padding: 130px 0;
  background-color: $sectionBackground;
  overflow-x: hidden;

  &-heading {
    margin-bottom: 100px;
  }

  &-cards {
    display: flex;
    @include size(100vw, 406px);
    margin-bottom: 130px;
  }

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include size(400px);
    padding: 30px;
    padding-top: 50px;
    background-color: $backGround;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  &-image {
    display: block;
    @include size(65px);
    margin-top: 10px;
  }

  &-text {
    @include font(demi);
    font-size: rem(20px);
    line-height: 1.5;
  }

  &-customer {
    &__name {
      @include font(demi);
      color: $secondaryColor;
    }

    &__city {
      color: $secondaryFontColor;
    }
  }

  &-submit {
    &__heading,
    &__buttons {
      text-align: center;
    }

    &__heading {
      font-size: rem(25px);
      text-transform: none;
      color: $primaryColor;
      margin-bottom: 50px;
    }

    button:first-child {
      margin-right: 25px;
    }
  }
}

@media screen and (max-width: $maxPhoneWidth) {
  .testimonials {
    min-height: auto;
    padding: 70px 0;

    &-heading {
      text-align: center;
      font-size: rem(28px);
      margin-bottom: 50px;
    }

    &-cards {
      height: 346px;
      margin-bottom: 45px;
    }

    &-card {
      @include size(340px);
      padding-top: 30px;
    }

    &-text {
      font-size: rem(19px);
      padding-top: 5px;
    }

    &-submit {
      &__heading {
        font-size: rem(23px);
        margin-bottom: 25px;
      }
    }
  }
}

@media screen and (max-width: $minPhoneWidth) {
  .testimonials-card {
    @include size(330px);
  }
}
