$height: 45px;
$width: 160px;

.btn1,
.btn2 {
  @include font(demi);
  font-size: rem(15px);
  @include size($width, $height);
  border: 1px solid;
  border-radius: calc(#{$height}/ 2);
  transition: transform 0.2s linear;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.9);
  }
}

.btn1 {
  color: $secondaryColor;
  background-color: $secondaryColorLightest;
  border-color: $secondaryColorLighter;

  a {
    color: $secondaryColor;
  }
}

.btn2 {
  color: $primaryColor;
  background-color: transparent;
  border-color: $primaryColor;

  a {
    color: $primaryColor;
  }
}
