$halfSlideWidth: 200px;
$halfSlideWidthMobile: 170px;

.slider {
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 3px;
  left: calc(50% - #{$halfSlideWidth});
  transition: all 1s;
  transform: translateX(-475%);
}

.slide.next + .slide {
  z-index: -1;
  transform: translateX(475%);
}

.slide.prev {
  transform: translateX(-375%);
}
.slide.current {
  transform: translateX(0);
}
.slide.next {
  z-index: -1;
  transform: translateX(375%);
}

@media screen and (max-width: $maxPhoneWidth) {
  .slide {
    left: calc(50% - #{$halfSlideWidthMobile});
  }
}
