$halfSlideWidth: 200px;
$halfSlideWidthMobile: 170px;

.slider {
  position: relative;
}

.slide {
  z-index: -1;
  position: absolute;
  top: 3px;
  left: calc(50% - #{$halfSlideWidth});
  transform: translateX(375%);

  &.before-prev,
  &.prev,
  &.current,
  &.next {
    transition: all 1s;
    z-index: 0;
  }

  &.before-prev {
    transform: translateX(-375%);
  }

  &.prev {
    transform: translateX(-175%);
  }

  &.current {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: translateX(0) scale(1.1);
  }

  &.next {
    transform: translateX(175%);
  }
}

@media screen and (max-width: $maxPhoneWidth) {
  .slide {
    left: calc(50% - #{$halfSlideWidthMobile});

    &.current {
      transform: translateX(0) scale(1);
    }
  }
}
