// fonts
$regularDemiFont: 'AvenirNext LT Pro Regular', Helvetica, Arial, sans-serif;
$boldFont: 'AvenirNext LT Pro Bold', Helvetica, Arial, sans-serif;

// font-sizes
$mainFontSize: 18px;
$mainLineHeight: 1.6;

// font-weight
$regular: 400;
$demi: 600;
$bold: 700;

// screen widths
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

$maxWidth: 1040px;

// colors
$primaryColor: #273164;

$secondaryColor: #f45e1f;
$secondaryColorLighter: #f5c2ae;
$secondaryColorLightest: #fff9f6;

$headerFontColor: #fff;
$primaryFontColor: #676f92;
$secondaryFontColor: #b4b4b4;

$backGround: #fafbfd;
$sectionBackground: #f6f7fb;
