@import 'reset';
@import 'fonts';
@import 'helpers';

html,
body {
  position: relative;
  @include font(regular);
  color: $primaryFontColor;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  scroll-behavior: smooth;
}
